<div class="theProducts">
  <div class="container">
    <div class="">
      <div class="py-3">
        <app-select
          [data]="categoires"
          [title]="'Categories: '"
          (selectedValue)="filterCategory($event)"
        ></app-select>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of products">
          <app-product [data]="item" (item)="addToCard($event)"></app-product>
        </div>
      </div>
      <div
        class="text-center spin w-100 h-100 bg-dark position-fixed top-0 start-0 d-flex align-items-center align-content-center justify-content-center"
        *ngIf="loading"
      >
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>
</div>
