.card {
  min-height: 425px !important;
  max-height: 450px !important;
}

.card .img-box {
  overflow: hidden;

  min-height: 250px !important;
  max-height: 250px !important;
  background-color: #fff;
}
.card .img-box img {
  overflow: hidden;
  max-width: 220px;
  min-height: 220px !important;
  max-height: 220px !important;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.broduct-box {
  background: #f1f0f0;
}
.broduct-box:hover .img-box img {
  transform: scale(1.1, 1.1);
}
.broduct-box:hover .options {
  visibility: visible !important;
  transform: scale(1.1, 1.1);
}
.card .card-body {
  /* background-color: rgba(172, 167, 167, 0.829) !important; */
}
.broduct-box {
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.broduct-box .addBtnContainer {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  bottom: -10%;
}
.broduct-box:hover .addBtnContainer {
  bottom: 8%;
  left: 50%;
  transform: translate(-50%);
  display: block !important;
}
.off {
  width: 70px;
  height: 70px;
  top: 1%;
  left: 1%;
  background-image: url("../../../../assets/img/off.png ");
  background-position: -1% 1%;
  background-size: 165px;
  z-index: 999;
}

.options {
  top: 0;
  left: 0;
  background-color: rgba(4, 52, 80, 0.205);
  background-color: rgba(51, 51, 51, 0.226);
  z-index: 1000 !important;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.options i {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}
